@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@1,300&display=swap');

:root {
    --fuentep: 'Poppins'
    --fuentebody: 'Abril Fatface'
}



*{
    margin:0;
    padding: 0;
    font-size: 62.5%;
}

body {
    font-family: 'Abril Fatface';
    background-color: rgb(31, 31, 31);
    color: white;
    
}

.contenedor {
    background-color: black;
    margin: 2rem 2rem;
    border: 1px solid white;
    border-radius: 2rem;
}

img {
    width: 100%;
}

h1 {

    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-family: var(--fuentep);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

header {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 30rem;
    align-items: center;
}

header {
    margin: 2rem 1rem;
}

.flexbox {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
 
.box-all {
    margin:auto;
    background-color: transparent;
    width: 60%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.box-all:hover {
    background-color: rgb(127, 74, 158);
}