*{
    margin:0;
    padding: 0;
    font-size: 62.5%;
}

body {
    background-color: rgb(31, 31, 31);
    color: white;
}

.contenedor {
    margin: auto;
}

img {
    width: 100%;
}

h1 {

    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

header {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 30rem;
    align-items: center;
}

header {
    margin: 2rem 1rem;
}

.flexbox {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
 
